@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	background: url(../images/bg2.png);
}


header {
	background: url(../images/bg.png);
/*	background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
*/
}

h1{
	border-radius: 20px;
	padding: 15px 20px;
	background: #000;
	text-align: center;
	color: whitesmoke;
	position: absolute;
	top: 20%;
	left: 16%;
	font-size: 100px;
	text-shadow: 11px 17px 5px rgba(255, 255, 255, .1);
	/*https://css3gen.com/text-shadow/*/
	-webkit-box-shadow: 0px 10px 45px 37px rgb(43 106 45 / 70%);
	-moz-box-shadow: 0px 10px 45px 37px rgb(43 106 45 / 70%);
	box-shadow: 0px 10px 45px 37px rgb(43 106 45 / 70%);

}

#wrapper {
	width: 1200px;
	margin: 40px auto 0 auto;
	/*height: 600px;
	background: #000;*/
}

.grey_block {
	background: #eee;
}

.text_center {
	text-align: center;
}

.site_block{
	/*height: 600px;
	background: #000;*/
	padding: 20px 60px 20px 60px;
	font-size: 25px;
	overflow: hidden;
	height:100vh;
}

#driver_block {
	height: 40vh;
	border-radius: 25px;
	/*https://www.cssmatic.com/box-shadow*/
}

#driver_img, #driver_text {
	float: left;
	width: 50%;
}

#driver_img img{
	display: block;
	width: 90%;
	margin: 0 auto 0 auto;
}


#service_block {
	height: 95vh;
	/*background: #000;*/
}

#service_block h2 {
	margin-bottom: 70px;
}

.service_item {
	height: 250px;
	width: 360px;
	//background: red;
	float: left;
	margin: 0 0 25px 0;
}

.service_item img {
	display: block;
	width: 50%;
	border-radius: 50%;
	margin: 0 auto 0 auto;
}

.call_to_action {
	width: 50%;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

.call_to_action a {
	display: block;
	width: 33.3%;
	float: left;
	margin: 70px 0 0 0;
	text-decoration: none;
	background: #000;
	color: #fff;
	font-weight: 500;
	padding: 5px 0 5px 0;
}

.call_to_action a:hover {
	background: #ddd;
	color: #000;

}

#reviews_block{
	height: 65vh;
}

.review_item {
	width:300px ;
	height:310px ;
	float: left;
	background: #424242;
	margin: 0 0 34px 60px;
	border-radius: 4px;
}

.review_item img {
	display: block;
	width: 40%;
	margin: 15px auto 0 auto;
	border-radius: 50%;
}

.review_item p {
	font-size: 15px;
	color: white;
	padding: 20px;
}

#car_block {
	padding: 0;
}

.car_block_itm{
	margin: 0 20px 20px 0 ;
	float: left;
	width: 386px;
}

.car_block_itm:nth-child(4), .car_block_itm:nth-child(7)  {
	margin: 0 0 20px 0;
}

.car_block_itm img {
	display: block;
	width: 100%;
}
#order_block{
	height: 30vh;

}

#order_block a {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 55px;
	color: #000;
}
#order_block p{
	text-align: center;
}